@model IEnumerable<MovieTime.Models.Peliculas>

@{
    ViewData["Title"] = "Películas";
}

<style>
    body {
        background-color: rgb(0, 0, 26);
    }
</style>

<style>
    h1 {
       color: white;
    }
</style>

<div align:"center">
    <iframe width="1125" height="600" src="https://www.youtube.com/embed/w7KuQBcUh9k?start=56" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<h1>¡Disfruta de las mejores peliculas!</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>

<p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/img/img-7.png" class="card-img-top" alt="...">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Fecha)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Genero)</p>
                        <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.Precio)</small></p>
                        <p>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

</p>