@model IEnumerable<MovieTime.Models.Novedades>

@{
    ViewData["Title"] = "Novedades";
}

<h1>¡NO TE PIERDAS DE LO ÚLTIMO DEL CINE!</h1>
<style>
    body {
        background-color: #000000;
    }
</style>

<style>
    h1 {
        color: white;
    }
</style>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/img-imagen9.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/img-imagen8.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/img-imagen10.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<h1>Noticias recientes</h1>
<p>

    <div class="row row-cols-1 row-cols-md-2 g-4" >
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/img/img-novedades.jpg" class="card-img-top" alt="...">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Fecha)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Genero)</p>
                        <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.Parrafo)</small></p>
                        <p>

                            <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/img/edit.png" width="20" /></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><img src="~/img/details.png" width="20" /></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/img/delete.png" width="20" /></a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</p>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Agregar</a>
</p>
