@model IEnumerable<MovieTime.Models.Trailers>

@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<div align:"center">
    <iframe width="560" height="480" src="https://www.youtube.com/embed/auDDg1loLKo" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>¡Aprovecha de ver lo mejor que viene de tus series y peliculas favoritas!
<p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/img/img-trailers.jpeg" class="card-img-top" alt="...">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Fecha)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Genero)</p>
                        <p>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

